<!doctype html>
<html ng-app="list">
<head>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- end of bootstrap links -->
    
    <!-- AngularJS -->
    <script src="../angular/angular.min.js"></script>
    
    <!-- soccer module -->
    <script type="text/javascript" src="list.module.js"></script>
    
    <!-- data controller -->
    <script type="text/javascript" src="data.controller.js"></script>
        
    <!-- JQuery -->
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
</head>

<body>      
    <div class="container" ng-controller="dataControl">
            <div ng-include ng-init="menuHighlight = 5;" src="'listHeader.html'"></div>
            <!--Content for songs-->
           
            
            
            <!-- Conter -->
            <div class="row">
                <div class ="col-xs-12">
                    <h1>{{list.listName}}</h1>
 
                </div>
            </div>
    
   
        <form name="listForm" novalidate>      
         
                <div class="form-group" ng-class="{ 'has-error' : listForm.name.$invalid && listForm.name.$touched, 'has-success' : !listForm.name.$invalid && listForm.name.$touched }">
                    <label>Item Name</label>
                    <input type="text" class="form-control" name="name" ng-model="item.name" required/>
                    <p ng-show="listForm.name.$invalid && listForm.name.$touched" class="help-block">An item name is required</p>
                </div>
                
               
            
                
                <button class="btn btn-default" ng-click="addToItem(item)" ng-disabled="listForm.$invalid">Add Item Name to List</button>
                
        
        
        </form>
    </div>

    

        
        
        
        
        

</body>
</html>
