<!doctype html>
<html ng-app="list">
<head>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- end of bootstrap links -->
    
    <!-- AngularJS -->
    <script src="../angular/angular.min.js"></script>
    
    <!-- soccer module -->
    <script type="text/javascript" src="list.module.js"></script>
    
    <!-- data controller -->
    <script type="text/javascript" src="data.controller.js"></script>
        
    <!-- JQuery -->
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
</head>

<body>      
        <div class="container" ng-controller="dataControl">
                <div ng-include ng-init="menuHighlight = 5;" src="'listHeader.html'"></div>
                <!--Content for songs-->
               
                
                
                <!-- Conter -->
                <div class="row">
                    <div class ="col-xs-12">
                        <h1>{{item.name}}</h1>
                
                    </div>
                </div>
        
                <form name="listForm" novalidate>      
                 
                
                        <div class="form-group" ng-class="{ 'has-error' : listForm.label.$invalid && listForm.label.$touched, 'has-success' : !listForm.label.$invalid && listForm.label.$touched }">
                            <label>Attribute Label</label>
                            <input type="text" class="form-control" name="label" ng-model="attribute.label" required/>
                            <p ng-show="listForm.label.$invalid && listForm.label.$touched" class="help-block">An attribute name is required</p>
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error' : listForm.value.$invalid && listForm.value.$touched, 'has-success' : !listForm.value.$invalid && listForm.value.$touched }">
                            <label>Attribute Value</label>
                            <input type="text" class="form-control" name="value" ng-model="attribute.value" required/>
                            <p ng-show="listForm.value.$invalid && listForm.value.$touched" class="help-block">A value is required</p>
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error' : listForm.type.$invalid && listForm.type.$touched, 'has-success' : !listForm.type.$invalid && listForm.type.$touched }">
                                <label>Attribute Type </label>
                                <select type="text" class="form-control" name="type" ng-model="attribute.type" required/>
                                <option value="text">Text</option>
                                <option value="video">Video</option>
                                <option value="date">Date</option>
                                <p ng-show="listForm.type.$invalid && listForm.type.$touched" class="help-block">A type is required</p>
                                </select>
                        </div>
                        
                       
                        <button class="btn btn-default" ng-click="addToAttribute(attribute)" ng-disabled="listForm.$invalid">Add Attributes to Item</button>
                        <a class="btn btn-default" href="addItemName.html" role="button" ng-disabled="listForm.$invalid">Add Another Item</a>
                        <a class="btn btn-default" href="index.html" role="button" >Finished Adding Items</a>
                        
                </form>
        </div>



        
        
        
        

</body>
</html>
