<!doctype html>
<html ng-app="list">
<head>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- end of bootstrap links -->
    
    <!-- AngularJS -->
    <script src="../angular/angular.min.js"></script>
    
    <!-- soccer module -->
    <script type="text/javascript" src="list.module.js"></script>
    
    <!-- data controller -->
    <script type="text/javascript" src="data.controller.js"></script>
        
    <!-- JQuery -->
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>      
</head>
<body>
<div class="container" ng-controller="dataControl">
        <!--Content for songs-->
        <div ng-include ng-init="menuHighlight = 1;" src="'listHeader.html'"></div>
        
        <!-- Conter -->
        <div class="row">
            <div class ="col-xs-12">
                <h1>Add a New List</h1>
            </div>
        </div>
    <form name="listForm" novalidate>
    <!-- list name -->
        <div class="form-group" ng-class="{ 'has-error' : listForm.listName.$invalid && listForm.listName.$touched, 'has-success' : !listForm.listName.$invalid && listForm.listName.$touched }">
            <label>List Name</label>
            <input type="text" class="form-control" name="listname" ng-model="list.listName" required/>
            <p ng-show="listForm.listName.$invalid && listForm.listName.$touched" class="help-block">The list name is required</p>
        </div>
        
     
    </form>

        <button class="btn btn-default" ng-click="saveList(list)" ng-disabled="listForm.$invalid">Save List</button>  
        
    
</div>

</body>
</html>
