<!DOCTYPE html>

<html ng-app="list">
<head>
    <title>New Account</title>
    
       

    <!-- JQuery -->
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>      
    
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- end of bootstrap links -->
    
    <!-- AngularJS -->
    <script src="../angular/angular.min.js"></script>
    
    <!-- soccer module -->
    <script type="text/javascript" src="list.module.js"></script>
    
    <!-- data controller -->
    <script type="text/javascript" src="data.controller.js"></script>

</head>

<body>

<div class="container" ng-controller="dataControl">
    <div ng-include ng-init="menuHighlight = 2;"src="'listHeader.html'"></div>
        
    <div class="row">
        <div class="col-xs-12">
            <h1>Create a new account</h1>
        </div>
    </div>
    
<form name="accountForm" novalidate>

<!-- username -->
<div class="form-group" ng-class="{ 'has-error' : accountForm.username.$invalid && accountForm.username.$touched, 'has-success' : !accountForm.username.$invalid && accountForm.username.$touched }">
    <label>Userame:</label>
    <input type="text" class="form-control" name="username" ng-model="account.username" required/>
    <p ng-show="accountForm.username.$invalid && accountForm.username.$touched" class="help-block">The username is required.</p>
</div>

<!-- password -->
<div class="form-group" ng-class="{ 'has-error' : accountForm.password.$invalid && accountForm.password.$touched, 'has-success' : !accountForm.password.$invalid && accountForm.password.$touched }">
    <label>Password:</label>
    <input type="password" class="form-control" name="password" ng-model="account.password" required/>
    <p ng-show="accountForm.password.$invalid && accountForm.password.$touched" class="help-block">The password is required.</p>
</div>

<!-- password 2 -->
<div class="form-group" ng-class="{ 'has-error' : accountForm.password2.$invalid && accountForm.password2.$touched, 'has-success' : !accountForm.password2.$invalid && accountForm.password2.$touched }">
    <label>Enter password again:</label>
    <input type="password" class="form-control" name="password2" ng-model="account.password2" required/>
    <p ng-show="accountForm.password2.$invalid && accountForm.password2.$touched" class="help-block">The password is required a second time.</p>
</div>



<button class="btn btn-default" ng-click="newAccount(account)" ng-disabled="accountForm.$invalid">Save</button>
</form>
    </div>
</div>
</div>
</body>
</html>

