<!doctype html>

<html ng-app="list">
<head>
    <title>Our Amazing Project</title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- AngularJS -->
<script src="../angular/angular.min.js"></script>

<!-- Music Module -->
<script type = "text/javascript" src ="list.module.js"></script>

<!-- Data Controller -->
<script type="text/javascript" src="data.controller.js"></script>

<!-- trust html filter -->
<script type="text/javascript" src="list.filter.js"></script>
</head>

<body>

<!-- container for my content -->

<div class="container" ng-controller="dataControl">
    <!-- Title -->
<div ng-include ng-init ="menuHighlight =0;" src="'listHeader.html'"></div>
  


<!-- Search bar -->
<div class="row">
    <div class="col-xs-12">
        <p>Search: <input ng-model="query[queryBy]" /></p>
    </div>
</div>


<!-- Lists -->

<div class="panel panel-default" ng-repeat="list in data | filter:query">
    <div ng-init="setEditMode(false,list)"></div>
    
    <!--Panel in Read Mode -->
            <div class="panel-heading">
                <h2>{{list.listName}}</h2>
                <ul class="list-group">
                    <li class="list-group-item" class="panel-body" ng-repeat="item in list.items | filter:query">
                            <h4>{{item.name}}</h4>
                            <ul class="list-group">
                                <li class="list-group-item"  ng-repeat="attribute in item.attributes">
                                        <div ng-if="attribute.type=='text'">
                                            <strong>{{attribute.label}}</strong>: {{attribute.value}}
                                            
                                        </div>
                                        <div ng-if="attribute.type=='video'">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <span ng-bind-html="attribute.value | trustHtml"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="attribute.type=='image'">
                                            <img class="img-responsive">
                                                <span ng-bind-html="attribute.value | trustHtml"></span>
                                            </img>
                                        </div>
                                </li>
                            </ul>
                            <p><button type="button" class="btn btn-danger btn-xs" ng-click="deleteItem(item.name, item.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                            </button></p>
                    </li>
                </ul>
                
                <p><button class="btn btn-default" ng-show="isloggedin"> <a href="edititem.html">Add New Item</a></button></p>
                <!--<button class="btn btn-default"><a href="addItemName.html">Add Another Item</a></button>-->
               <!-- <span class="glyphicon glyphicon-plus"></span>-->  

            </div>
                
            
            <div class="panel-footer">
                <p><button type="button" class="btn btn-danger" ng-click="deleteList(list.listName, list.id)">Delete List</button></p>
                <button type="button" class="btn btn-success" ng-click="voteList(list.id)">Up</button>
                <button type="button" class="btn btn-danger" ng-click="voteDownList(list.id)">Down</button>
                <strong>Number of Votes: {{list.voteCount}}</strong> 
            </div>   
            
        
   
    <!--<div ng-if="getEditMode(list)">
            <form name ="enterListForm" novalidate>
                <div class="panel-heading">
                    <!-- Edit List Name 
                    <div class="form-group" ng-class= "{ 'has-error' : enterListForm.listName.$invalid && enterListForm.listName.$touched, 'has-success' : !enterListForm.listName.$invalid && enterListForm.listName.$touched }">
                        <input type="text" class="form-control" name="listName" ng-model="editlist.listName" required/>
                        <p ng-show="enterListForm.listName.$invalid && enterListForm.listName.$touched" class="help-block">A list name is required</p>
                    </div>
                    <p><button class="btn btn-primary" ng-disabled="enterListForm.$invalid" ng-click="updateList(editlist)">Save</button></p>
                   
                    <div class="panel-body">
                        <div class="col-sm-9 col-xs-12">
                            <!-- Edit Item Name -
                            <div class="form-group" ng-class= "{ 'has-error' : enterListForm.name.$invalid && enterListForm.name.$touched, 'has-success' : !enterListForm.name.$invalid && enterListForm.name.$touched }">
                                <input type="text" class="form-control" name="name" ng-model="editlist.name" required/>
                                <p ng-show="enterListForm.name.$invalid && enterListForm.name.$touched" class="help-block">An item name is required</p>
                                <p><button class="btn btn-primary" ng-disabled="enterListForm.$invalid" ng-click="updateItem(editlist)">Save</button></p>
                            </div>
                            <!-- Edit Attribute Label -
                            <div class="form-group" ng-class= "{ 'has-error' : enterListForm.label.$invalid && enterListForm.label.$touched, 'has-success' : !enterListForm.label.$invalid && enterListForm.label.$touched }">
                                <input type="text" class="form-control" name="label" ng-model="editlist.label" required/>
                                <p ng-show="enterListForm.label.$invalid && enterListForm.label.$touched" class="help-block">A label is required</p>
                                <p><button class="btn btn-primary" ng-disabled="enterListForm.$invalid" ng-click="updateAttribute(editlist)">Save</button></p>
                            </div>
                            
                            
                             <!-- Edit Attribute Value 
                            <div class="form-group" ng-class= "{ 'has-error' : enterListForm.value.$invalid && enterListForm.value.$touched, 'has-success' : !enterListForm.value.$invalid && enterListForm.value.$touched }">
                                <input type="text" class="form-control" name="value" ng-model="editlist.value" required/>
                                <p ng-show="enterListForm.value.$invalid && enterListForm.value.$touched" class="help-block">A value is required</p>
                                <p><button class="btn btn-primary" ng-disabled="enterListForm.$invalid" ng-click="updateAttribute(editlist)">Save</button></p>
                            </div>
                            
                        </div>         
                    </div>
                </div>
                <p><button class="btn btn-primary" ng-click="setEditMode(false,list)">Cancel</button></p>
            </form>  
    </div>-->
    
</div>
   
</div>
    

</body>
</html>
